apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: {{ kubernetes_pki_directory }}/{{ kubernetes_ca_certificate }}
    server: https://{{ hostvars['k8s-server'].ansible_host }}:{{ server_port }}
  name: bootstrap
contexts:
- context:
    cluster: bootstrap
    user: kubelet-bootstrap
  name: bootstrap
current-context: bootstrap
preferences: {}
users:
- name: kubelet-bootstrap
  user:
    token: {{ hostvars[ansible_hostname].token_id }}.{{ hostvars[ansible_hostname].token_secret }}
