ETCD_ARGS="--name {{ ansible_hostname }} \
  --initial-advertise-peer-urls https://{{ ansible_host }}:2380 \
  --listen-peer-urls https://{{ ansible_host }}:2380 \
  --listen-client-urls https://{{ ansible_host }}:2379,https://127.0.0.1:2379 \
  --advertise-client-urls https://{{ ansible_host }}:2379 \
  --initial-cluster-token etcd-cluster-1 \
  --initial-cluster {% for host in groups['etcd'] %}{{ host }}=https://{{ hostvars[host].ansible_host }}:2380{{ "," if not loop.last else "" }}{% endfor %} \
  --initial-cluster-state new \
  --client-cert-auth \
  --trusted-ca-file={{ ETCD_PKI_DIR }}/{{ ETCD_CA_CERT_NAME }} \
  --cert-file={{ ETCD_PKI_DIR }}/{{ ETCD_CLIENT_CERT_NAME }} --key-file={{ ETCD_PKI_DIR }}/{{ ETCD_CLIENT_KEY_NAME }} \
  --peer-client-cert-auth --peer-trusted-ca-file=/opt/etcd/tls/ca.crt \
  --peer-cert-file={{ ETCD_PKI_DIR }}/{{ ETCD_PEER_CERT_NAME }} --peer-key-file={{ ETCD_PKI_DIR }}/{{ ETCD_PEER_KEY_NAME }}"
