[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatfor/kubernetes
After=docker.service
Requites=docker.service

[Service]
WorkingDirectory=/var/lib/kubelet
EnvironmentFile=/etc/kubernetes/kubelet
ExecStart=/usr/bin/kubelet $KUBELET_ARGS
Restart=on-failure

[Install]
WantedBy=multi-user.target
