KUBE_API_ARGS="--advertise-address={{ ansible_host }} \
  --allow-privileged=true \
  --authorization-mode=Node,RBAC \
  --client-ca-file={{ KUBERNETES_PKI_DIR }}/{{ KUBERNETES_CA_CERT_NAME }} \
  --enable-admission-plugins=NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,DefaultTolerationSeconds,NodeRestriction,MutatingAdmissionWebhook,ValidatingAdmissionWebhook,ResourceQuota \
  --enable-bootstrap-token-auth=true \
  --etcd-cafile={{ SERVER_ETCD_PKI_DIR }}/{{ SERVER_ETCD_CA_CERT_NAME }} \
  --etcd-certfile={{ KUBERNETES_PKI_DIR }}/{{ APISERVER_ETCD_CLIENT_CERT_NAME }} \
  --etcd-keyfile={{ KUBERNETES_PKI_DIR }}/{{ APISERVER_ETCD_CLIENT_KEY_NAME }} \
  --etcd-servers={% for host in groups['etcd'] %}https://{{ hostvars[host].ansible_host }}:2379{{ "," if not loop.last else "" }}{% endfor %} \
  --insecure-port=0 \
  --kubelet-client-certificate={{ KUBERNETES_PKI_DIR }}/{{ APISERVER_KUBELET_CLIENT_CERT_NAME }} \
  --kubelet-client-key={{ KUBERNETES_PKI_DIR }}/{{ APISERVER_KUBELET_CLIENT_KEY_NAME }} \
  --kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname \
  --proxy-client-cert-file={{ KUBERNETES_PKI_DIR }}/{{ FRONT_PROXY_CA_CERT_NAME }} \
  --proxy-client-key-file={{ KUBERNETES_PKI_DIR }}/{{ FRONT_PROXY_CA_KEY_NAME }} \
  --requestheader-allowed-names=front-proxy-client  \
  --requestheader-client-ca-file={{ KUBERNETES_PKI_DIR }}/{{ FRONT_PROXY_CA_CERT_NAME }} \
  --requestheader-extra-headers-prefix=X-Remote-Extra- \
  --requestheader-group-headers=X-Remote-Group \
  --requestheader-username-headers=X-Remote-User \
  --secure-port={{ SERVER_PORT }} \
  --service-account-issuer=https://kubernetes.default.svc.cluster.local \
  --service-account-key-file={{ KUBERNETES_PKI_DIR }}/{{ SERVICE_ACCOUNT_CERT_NAME }} \
  --service-account-signing-key-file={{ KUBERNETES_PKI_DIR }}/{{ SERVICE_ACCOUNT_KEY_NAME }} \
  --service-cluster-ip-range=10.96.0.0/12 \
  --tls-cert-file={{ KUBERNETES_PKI_DIR }}/{{ APISERVER_CERT_NAME }} \
  --tls-private-key-file={{ KUBERNETES_PKI_DIR }}/{{ APISERVER_KEY_NAME }}"