[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile={{ SERVER_CONFIG_DIR }}/apiserver.env
ExecStart=/usr/bin/kube-apiserver $KUBE_API_ARGS
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi.target