[Service]
Environment="KUBE_CONTROLLER_MANAGER_ARGS=--authentication-kubeconfig=/etc/kubernetes/controller-manager.conf --authorization-kubeconfig=/etc/kubernetes/controller-manager.conf --bind-address=127.0.0.1 --client-ca-file={{ K8S_SERVER_PKI_DIR }}/{{ INT_CERT_NAME }} --cluster-name=kubernetes --cluster-signing-cert-file={{ K8S_SERVER_PKI_DIR }}/{{ INT_CERT_NAME }} --cluster-signing-key-file={{ K8S_SERVER_PKI_DIR }}/{{ INT_KEY_NAME }} --cluster-signing-duration=8760h0m0s --controllers=*,bootstrapsigner,tokencleaner --kubeconfig=/etc/kubernetes/controller-manager.conf --leader-elect=true --port=0 --root-ca-file={{ K8S_SERVER_PKI_DIR }}/{{ INT_CERT_NAME }} --service-account-private-key-file={{ K8S_SERVER_PKI_DIR }}/{{ K8S_SERVICE_ACCOUNT_KEY_NAME }} --use-service-account-credentials=true --allocate-node-cidrs=true --cluster-cidr=10.244.0.0/16 --service-cluster-ip-range=10.96.0.0/12"
ExecStart=
ExecStart=/usr/bin/kube-controller-manager $KUBE_CONTROLLER_MANAGER_ARGS
