KUBE_CONTROLLER_MANAGER_ARGS="--allocate-node-cidrs=true \
  --authentication-kubeconfig=/etc/kubernetes/controller-manager.conf \
  --authorization-kubeconfig=/etc/kubernetes/controller-manager.conf \
  --bind-address=127.0.0.1 \
  --client-ca-file={{ KUBERNETES_PKI_DIR }}/{{ KUBERNETES_CA_CERT_NAME }} \
  --cluster-cidr=10.244.0.0/16 \
  --cluster-name=kubernetes \
  --cluster-signing-cert-file={{ KUBERNETES_PKI_DIR }}/{{ KUBERNETES_CA_CERT_NAME }} \
  --cluster-signing-key-file={{ KUBERNETES_PKI_DIR }}/{{ KUBERNETES_CA_KEY_NAME }} \
  --controllers=*,bootstrapsigner,tokencleaner \
  --kubeconfig=/etc/kubernetes/controller-manager.conf \
  --leader-elect=false \
  --port=0 \
  --requestheader-client-ca-file={{ KUBERNETES_PKI_DIR }}/{{ FRONT_PROXY_CA_CERT_NAME }} \
  --root-ca-file={{ KUBERNETES_PKI_DIR }}/{{ KUBERNETES_CA_KEY_NAME }} \
  --service-account-private-key-file={{ KUBERNETES_PKI_DIR }}/{{ SERVICE_ACCOUNT_KEY_NAME }} \
  --service-cluster-ip-range=10.96.0.0/12 \
  --use-service-account-credentials=true"