apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ SERVER_PKI_DIR }}/{{ SERVER_CA_CERT_NAME }}
    server: https://{{ ansible_host }}:{{ SERVER_PORT }}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: system:kube-scheduler
  name: system:kube-scheduler@kubernetes
current-context: system:kube-scheduler@kubernetes
kind: Config
preferences: {}
users:
- name: system:kube-scheduler
  user:
    client-certificate: {{ SERVER_PKI_DIR }}/{{ SCHEDULE_APISERVER_CLIENT_CERT_NAME }}
    client-key: {{ SERVER_PKI_DIR }}/{{ SCHEDULE_APISERVER_CLIENT_KEY_NAME }}
