apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ int_cert['content'] }}
    server: https://{{ ansible_host }}:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: system:kube-scheduler
  name: system:kube-scheduler@kubernetes
current-context: system:kube-scheduler@kubernetes
kind: Config
preferences: {}
users:
- name: system:kube-scheduler
  user:
    client-certificate-data: {{ kube_schedule_kube_apiserver_client_cert['content'] }}
    client-key-data: {{ kube_schedule_kube_apiserver_client_key['content'] }}
