apiVersion: v1
kind: Config
current-context: system:kube-scheduler@kubernetes
contexts:
- context:
    cluster: kubernetes
    user: system:kube-scheduler
  name: system:kube-scheduler@kubernetes
clusters:
- cluster:
    certificate-authority: {{ kubernetes_pki_directory }}/{{ kubernetes_ca_certificate }}
    server: https://{{ ansible_host }}:{{ server_port }}
  name: kubernetes
users:
- name: system:kube-scheduler
  user:
    client-certificate: {{ kubernetes_pki_directory }}/{{ schedule_apiserver_client_certificate }}
    client-key: {{ kubernetes_pki_directory }}/{{ schedule_apiserver_client_key }}
