apiVersion: v1
kind: Config
contexts:
- context:
    cluster: kubernetes
    user: kubernetes-admin
  name: kubernetes-admin@kubernetes
current-context: kubernetes-admin@kubernetes
clusters:
- cluster:
    certificate-authority-data: {{ vault_int_ca_crt['content'] }}
    server: https://{{ ansible_host }}:6443
  name: kubernetes
users:
- name: kubernetes-admin
  user:
    client-certificate-data: {{ admin_crt['content'] }}
    client-key-data: {{ admin_key['content'] }}
