[Service]
Environment="KUBE_CONTROLLER_MANAGER_ARGS=--authentication-kubeconfig=/etc/kubernetes/controller-manager.conf --authorization-kubeconfig=/etc/kubernetes/controller-manager.conf --bind-address=127.0.0.1 --client-ca-file=/opt/kubernetes/tls/ca.crt --cluster-name=kubernetes --cluster-signing-cert-file=/opt/kubernetes/tls/ca.crt --cluster-signing-key-file=/opt/kubernetes/tls/ca.key --cluster-signing-duration=8760h0m0s --controllers=*,bootstrapsigner,tokencleaner --kubeconfig=/etc/kubernetes/controller-manager.conf --leader-elect=true --port=0 --requestheader-client-ca-file=/opt/kubernetes/tls/front-proxy-ca.crt --root-ca-file=/opt/kubernetes/tls/ca.crt --service-account-private-key-file=/opt/kubernetes/tls/sa.key --use-service-account-credentials=true --allocate-node-cidrs=true --cluster-cidr=10.244.0.0/16 --service-cluster-ip-range=10.96.0.0/12"
ExecStart=
ExecStart=/usr/bin/kube-controller-manager $KUBE_CONTROLLER_MANAGER_ARGS
