[Service]
Environment="KUBE_SCHEDULER_ARGS=--authentication-kubeconfig=/etc/kubernetes/scheduler.conf --authorization-kubeconfig=/etc/kubernetes/scheduler.conf --bind-address={{ ansible_host }} --kubeconfig=/etc/kubernetes/scheduler.conf --leader-elect=true --port=0"
ExecStart=
ExecStart=/usr/bin/kube-scheduler $KUBE_SCHEDULER_ARGS
