[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/kube-apiserver
Restart=failure
LimitNOFILE=65536

[Install]
WantedBy=multi.target