[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatfor/kubernetes
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/var/lib/kubelet/kubelet.env
WorkingDirectory=/var/lib/kubelet
ExecStart=/usr/bin/kubelet $KUBELET_ARGS
Restart=on-failure

[Install]
WantedBy=multi-user.target
