apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: {{ KUBERNETES_PKI_DIR }}/{{ KUBERNETES_CA_CERT_NAME }}
    server: https://{{ hostvars['k8s-server'].ansible_host }}:{{ SERVER_PORT }}
  name: default
contexts:
- context:
    cluster: default
    namespace: default
    user: default
  name: default
current-context: default
users:
- name: default
  user:
    client-certificate: {{ KUBERNETES_PKI_DIR }}/{{ PROXY_APISERVER_CLIENT_CERT_NAME }}
    client-key: {{ KUBERNETES_PKI_DIR }}/{{ PROXY_APISERVER_CLIENT_KEY_NAME }}
