apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: {{ kubernetes_pki_directory }}/{{ kubernetes_ca_certificate }}
    server: https://{{ hostvars['k8s-server'].ansible_host }}:{{ server_port }}
  name: default
contexts:
- context:
    cluster: default
    namespace: default
    user: default
  name: default
current-context: default
users:
- name: default
  user:
    client-certificate: {{ kubernetes_pki_directory }}/{{ PROXY_APISERVER_CLIENT_CERT_NAME }}
    client-key: {{ kubernetes_pki_directory }}/{{ PROXY_APISERVER_CLIENT_KEY_NAME }}
