KUBELET_ARGS="--bootstrap-kubeconfig=/etc/kubernetes/bootstrap-kubelet.conf \
  --kubeconfig=/etc/kubernetes/kubelet.conf \
  --config=/var/lib/kubelet/config.yaml \
  --node-ip={{ ansible_host }} \
  --network-plugin=cni \
  --pod-infra-container-image=k8s.gcr.io/pause:{{ PAUSE_VERSION }}"