# Full configuration options can be found at https://www.vaultproject.io/docs/configuration

storage "file" {
  path = "/opt/vault/data"
}

# HTTPS listener
listener "tcp" {
  address       = "0.0.0.0:8200"
  tls_cert_file = "{{ VAULT_CERT_DIR }}/{{ VAULT_CERT_NAME }}"
  tls_key_file  = "{{ VAULT_CERT_DIR }}/{{ VAULT_KEY_NAME }}"
}