[Unit]
Description=Kubernetes Kube-Proxy Server
Documentation=https://github.com/GoogleCloudPlatfor/kubernetes
After=network.target
Requires=network.target

[Service]
WorkingDirectory=/var/lib/kubelet
ExecStart=/usr/bin/kube-proxy
Restart=on-failure
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
