ETCD_ARGS="--name {{ ansible_facts.hostname }} --initial-advertise-peer-urls http://{{ ansible_facts.hostname }}.ipool.me:2380 \
  --listen-peer-urls http://{{ ansible_facts.hostname }}.ipool.me:2380 \
  --listen-client-urls http://{{ ansible_facts.hostname }}.ipool.me:2379,http://127.0.0.1:2379 \
  --advertise-client-urls http://{{ ansible_facts.hostname }}.ipool.me:2379 \
  --initial-cluster-token etcd-cluster-1 \
  --initial-cluster {% for host in groups['all'] %}{{ host }}=http://{{ host }}.ipool.me{{ "," if not loop.last }}{% endfor %} \
  --initial-cluster-state new"
