[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatfor/kubernetes
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/var/lib/kubelet
ExecStart=/usr/bin/kubelet
Restart=on-failure

[Install]
WantedBy=multi-user.target